* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}
main {
  background: url(IMGS/back.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  background-color: white;
}
a {
  text-decoration: none;
}
.ul-sc {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(1, minmax(100px, 1fr));
  column-gap: 60px;
  row-gap: 40px;
  grid-auto-rows: 100px;
}
.line {
  width: 536px;
  height: 1px;
  background-color: #000000;
}
.list-group-item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#pole {
  display: flex;
  width: 720px;
  height: 220px;
  background-color: #5abb58;
  border-radius: 20px;
  border: 2px solid #000000;
  position: relative;
  margin-bottom: 36px;
}
#ball {
  width: 50px;
  height: 50px;
  position: absolute;
  transition: left 0.3s ease, top 0.3s ease;
}
.div-header {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.span-header {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.a-header {
  display: flex;
  color: black;
  font-size: 12px;
}
.a-header:nth-child(3) {
  margin-right: 50px;
}
.a-header:nth-child(4) {
  margin-right: 250px;
}
.svg-header {
  margin-left: 8px;
}
.p-header {
  font-size: 12px;
  color: black;
}
.name-section {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 36px;
}
.p-name {
  font-size: 16px;
  font-weight: 400;
  margin-top: 36px;
  margin-bottom: 36px;
}
.input-div {
  background-color: #d7d7d7;
  width: 215px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  box-shadow: 3px 3px 0px #7e7e7e;
}
.inputs {
  background: transparent;
  border: none;
  outline: none;
  color: #7e7e7e;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
}
.buttons {
  background-color: #000000;
  border: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 35px;
  height: 35px;
}
.buttons:hover {
  cursor: pointer;
}

#result {
  font-size: 12px;
  margin-left: 145px;
}
.results {
  font-size: 12px;
  margin-left: 145px;
}
.button-sc {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: #000000;
  border: none;
}
.button-sc:not(:last-child) {
  margin-right: 38px;
}
.button-sc:hover {
  cursor: pointer;
}
.input-calc {
  background-color: #d7d7d7;
  width: 135px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  border: none;
  outline: none;
  color: #7e7e7e;
  font-family: "Montserrat Alternates", sans-serif;
  box-shadow: 3px 3px 0px #7e7e7e;
  margin-right: 38px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
}
.button-calc {
  width: 27px;
  height: 25px;
  border-radius: 1000px;
  border: none;
  background-color: #000000;
  box-shadow: 2px 2px 0px #00000050;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
}
.button-calc:hover {
  cursor: pointer;
}
.button-res {
  width: 27px;
  height: 25px;
  border-radius: 1000px;
  border: none;
  background-color: #000000;
  box-shadow: 2px 2px 0px #00000050;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  margin-right: 38px;
}
.button-res:hover {
  cursor: pointer;
}
.cal-result {
  font-size: 12px;
  color: #7e7e7e;
  padding: 5px;
  height: 35px;
  border-radius: 20px;
  background-color: #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-day {
  background-color: #d7d7d7;
  width: 135px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  border: none;
  outline: none;
  color: #7e7e7e;
  font-family: "Montserrat Alternates", sans-serif;
  box-shadow: 3px 3px 0px #7e7e7e;
}
#input-time {
  width: 95px;
  background: transparent;
  border: none;
  outline: none;
  color: #7e7e7e;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
}
.input-time {
  background-color: #d7d7d7;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  box-shadow: 3px 3px 0px #7e7e7e;
  margin-right: 33px;
}
.p-day {
  font-size: 12px;
  font-family: "Montserrat Alternates", sans-serif;
  margin-left: 33px;
}
.input-3n {
  background-color: #d7d7d7;
  width: 135px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  border: none;
  outline: none;
  color: #7e7e7e;
  font-family: "Montserrat Alternates", sans-serif;
  box-shadow: 3px 3px 0px #7e7e7e;
}
.input-3n:not(:last-child) {
  margin-right: 38px;
}
.p-3n {
  font-size: 12px;
  font-family: "Montserrat Alternates", sans-serif;
  margin-top: 36px;
  margin-bottom: 36px;
}
.switch {
  position: relative;
  overflow: hidden;
  width: 2.5rem;
  height: 1.33rem;
}
.logo-header {
  margin-right: 60px;
}
.switch input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.switch label {
  cursor: pointer;
}

.background {
  z-index: 1;
  position: absolute;
  width: 2.5rem;
  height: 1.33rem;
  border-radius: 0.83rem;
  border: 0.08rem solid #78c1d5;
  background: linear-gradient(to right, #78c1d5 0%, #bbe7f5 100%);
  transition: all 0.3s;
}

.fill {
}

.sun-moon {
  z-index: 2;
  position: absolute;
  left: calc(100% - 1.33rem);
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin: 0.17rem;
  background: #f5ec59;
  border-radius: 50%;
  transition: all 0.5s ease;
  border: 0.08rem solid #e7c65c;
  box-shadow: 0 0 3.33px #f5ec59, 0 0 5px #f5ec59, 0 0 6.67px #f5ec59;
}

.sun-moon .dots {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  top: 0px;
  left: -6.67px;
  background: #ffffff;
  border: 0.08rem solid #ffffff;
  border-radius: 50%;
  transform: rotate(25deg);
  transition: 0.4s all ease;
}

.sun-moon .dots:after,
.sun-moon .dots:before {
  position: absolute;
  content: "";
  display: block;
  border-radius: 50%;
  transition: 0.4s all ease;
  background: #ffffff;
  border: 0.08rem solid #ffffff;
}

.sun-moon .dots:after {
  height: 0.22rem;
  width: 0.22rem;
  top: 0.67px;
  left: -4px;
}

.sun-moon .dots:before {
  height: 0.13rem;
  width: 0.13rem;
  top: 2px;
  left: 4.67px;
}

.stars1,
.stars2 {
  position: absolute;
  height: 0.13rem;
  width: 0.13rem;
  background: #ffffff;
  border-radius: 50%;
  transition: 0.3s all ease;
  opacity: 0;
  transform: translateY(0.67rem);
}

.stars1 {
  top: 2px;
  right: 7.67px;
}

.stars2 {
  top: 13.33px;
  right: 16px;
}

.stars1:after,
.stars1:before,
.stars2:after,
.stars2:before {
  position: absolute;
  content: "";
  display: block;
  height: 0.08rem;
  width: 0.08rem;
  background: #ffffff;
  border-radius: 50%;
  transition: 0.2s all ease;
}

.stars1:after {
  top: 2.67px;
  right: 6.67px;
}

.stars1:before {
  top: 6px;
  right: -4px;
}

.stars2:after {
  top: -2.67px;
  right: -5.33px;
}

.stars2:before {
  top: 2px;
  right: -8.67px;
}

/* === Toggle to Night Mode === */

.switch input:checked ~ .background {
  border: 0.08rem solid #202020;
  background: linear-gradient(to right, #484848 0%, #202020 100%);
}

.switch input:checked ~ .background .stars1,
.switch input:checked ~ .background .stars2 {
  opacity: 1;
  transform: none;
}

.switch input:checked ~ .sun-moon {
  left: 0;
  background: #fffdf2;
  border-color: #dee2c6;
  transform: none;
  box-shadow: 0 0 3.33px rgba(255, 255, 255, 0.8);
}

.switch input:checked ~ .sun-moon .dots {
  top: 1px;
  left: 7.67px;
  height: 0.33rem;
  width: 0.33rem;
  background: #efeedb;
  border: 0.08rem solid #dee2c6;
  transform: none;
}

.switch input:checked ~ .sun-moon .dots:after {
  top: -1.33px;
  left: -8.67px;
  height: 0.08rem;
  width: 0.08rem;
  background: #efeedb;
  border: 0.08rem solid #dee2c6;
}

.switch input:checked ~ .sun-moon .dots:before {
  top: 6px;
  left: -3.33px;
  height: 0.08rem;
  width: 0.08rem;
  background: #efeedb;
  border: 0.08rem solid #dee2c6;
}
.swiper {
  width: 900px;
  height: 300px !important;
  min-height: 320px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 300px !important;

  background: #fff;
  display: flex;
  justify-items: center;
  align-content: center;
  flex-direction: column;
}
.swiper-slide-active {
  display: flex;
  justify-items: center;
  align-content: center;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next {
  width: 50px !important;
  height: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  top: var(--swiper-navigation-top-offset, 40%) !important;
}
.swiper-button-next::after {
  display: none;
}
.svg-next {
  width: 100%;
  height: 100%;
}
.swiper-button-prev {
  width: 50px !important;
  height: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  top: var(--swiper-navigation-top-offset, 40%) !important;
}
.swiper-button-prev::after {
  display: none;
}
.svg-prev {
  width: 100%;
  height: 100%;
  margin-right: -20px;
}
.container-swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #d9d9d9;
  border-radius: 20px;
}
.name-stu {
  font-size: 14px;
  color: #000000;
  margin-top: 30px;
}
.p-stu {
  font-size: 16px;
  font-weight: 400;
  margin-top: 36px;
}
.swiper-pagination-bullet {
  width: 18px !important;
  height: 3px !important;
  border-radius: 20px !important;
  background: #7e7e7e !important;
}
.button-scient {
  font-size: 12px;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #000000;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-items: start;
  align-items: center;
  box-shadow: 3px 3px 0px #7e7e7e;
  margin-top: 20px;
}
.button-scient:hover {
  cursor: pointer;
}
.main-scients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
}
.bett-scients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 36px;
}
.div-footer {
  display: flex;
  padding: 75px;
  justify-content: center;
  align-items: center;
}
.logo-footer {
  width: 165px;
  height: 70px;
  margin-right: 185px;
}
.li-footer {
  font-size: 12px;
  color: #000000;
}
.li-footer:not(:first-child) {
  margin-top: 5px;
}
.input-footer {
  background-color: #d7d7d7;
  width: 204px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  border: none;
  outline: none;
  color: #7e7e7e;
  font-family: "Montserrat Alternates", sans-serif;
  margin-right: 36px;
}
.button-footer {
  background-color: #000000;
  border: none;
  border-radius: 20px;
  font-family: 12px;
  padding: 10px;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
}
.button-footer:hover {
  cursor: pointer;
}
.p-footer {
  font-size: 10px;
  color: #000000;
  margin-top: 18px;
}
.dinodino {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 50px;
  display: block;
}
.cactus {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 660px;
  display: block;
}
.gameboard {
  position: relative;
  width: 720px;
  height: 300px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: lightgrey;
  background: url(IMGS/ocean.webp);
  background-size: cover;
}
@keyframes jumping {
  0% {
    bottom: 0px;
  }
  10% {
    bottom: 120px;
  }
  90% {
    bottom: 120px;
  }
  100% {
    bottom: 0px;
  }
}

/* .dinodino { */
/* animation: jumping 0.5s ease-in-out infinite; */
/* }  */
@keyframes cactus-move {
  0% {
    right: -30px;
  }
  100% {
    right: 720px;
  }
}
